<%= form_with(model: folder, local: true) do |form| %>
  <% if folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% folder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="record-form text-center">

  <div class="field">
    <%= form.text_field :title %>
  </div>
  
  <div class="">
    <%= form.label :comment, "コメント", class: "r-letter" %>
    <%= form.text_area :comment, class: "record-comment" %>
  </div>
  
  <div class="mb-3">
    <%= form.label :image, class: "r-file" do %>
      <h6>画像を選択</h6>
      <%= form.file_field :image %>
    <% end %>  
  </div>
  
  <div class="co">
    <div class="form-inline">
    <%= form.collection_check_boxes(:category_ids, current_user.categories.all, :id, :name) do |category| %>
     <div class="mr-3">
       <%= category.label class: "rec-cat" do %>
         <%= category.check_box %>
         <%= category.text  %>
       <% end %>
     </div>
   <% end %>
   </div>
 </div>

  <div class="d-inline-block">
    <%= form.submit "完了", :class=>"record-submit" %>
  </div>
<% end %>

</div>