<p id="notice"><%= notice %></p>

<div class= "index-header">
  <div class= "back-btn">
      <%= link_to image_tag("back.png"),categories_path, class: "d-inline-block  mb-3" %>
  </div>
</div> 

<div class="cat-show-card">
  <div class="text-center">
    <h3 class="folder-title rec-cat">ALL</h3>
  </div>
  <div class="co folreccard">
    <div class ="folder-card text-center mr-1 ml-1">
      <div><%= link_to image_tag("folder.png", class:"folder-img"), users_all_records_path %></div>
      <div class="mt-3">
        <h5 class="rec-fol">ALL</h5>
      </div>
    </div>
    <% @folders.each do |folder| %>
      <div class ="folder-card mr-2 ml-2 text-center">
        <div>
          <% if folder.image? %>
            <%=link_to image_tag(folder.image.url, class: "folder-img"),folder_records_path(folder.id) %>
          <% else %>
            <%= link_to image_tag("folder.png", class:"folder-img"), folder_records_path(folder.id) %>
          <% end %>
        </div>
        <div class="mt-3">
          <h5 class="rec-fol"><%= folder.title.truncate(15)%>(<%= folder.record_sum %>)</h5>
        </div>
      </div>  
    <% end %>  
  </div>
  
</div>

<br>

<div><%= link_to image_tag("plus.png"), new_folder_path, class: "fixed-btn"  %></div>
