<p id="notice"><%= notice %></p>


<table>

  <div class="card-deck folreccard">
    <% @folders.each do |folder| %>
      <div class="card-deck text-center record-index">
        <div class="card text-dark bg-light mb-3 folder mr-4 ml-4">
          <div class="card-body">
              <h2 class="card-title"><%= folder.title %>(<%= folder.record_sum %>)</h2>
                <% folder.tags.each do |tag| %>
                  <span class="badge badge-secondary mr-1"><%= tag.name %></span>
                <% end %><br>
              <a><%= link_to '表示', folder_records_path(folder.id), class: "btn btn-outline-dark btn-sm" %></a>
              <a><%= link_to '編集', edit_folder_path(folder.id), class: "btn btn-outline-dark btn-sm" %></a>
              <h5><%= folder.count_sum %></h5>
              <h5><%= folder.hour_sum %>時間<%= folder.minute_sum %>分</h5>
              <h5>¥<%= folder.money_sum %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</table>

<a><%= link_to 'All',folders_all_records_path, class: "btn btn-outline-dark btn-sm" %></a>

<br>

<div><%= link_to image_tag("plus.png"), new_folder_path, class: "fixed-btn"  %></div>
<a><%= link_to 'タグを管理', tags_path, class: "btn btn-outline-dark new-tag"%></a>

