      <div class= "index-header">
        <div class= "back-btn">
            <%= link_to image_tag("back.png"),folders_path, class: "d-inline-block  mb-3" %>
        </div>
        <div class="text-center select-div">  
          <%= form_with(model: @user,local: true) do |form| %>
            |
            <div class="d-inline-block">
              <%= form.select :all_records_sort, [['Create Desc', 0],['Create Asc', 1],['Update Desc', 2],['Update Asc', 3]], {}, {class: 'sel'}%>
            </div>
            |
            <div class="d-inline-block">
            <%= form.select :all_records_view, [['Normal', 0],['All info', 1],['Coment', 8],['Image', 2],['Link', 3],['Youtube', 4],['Twitter', 5],['Calendar', 6],['Graph', 7]], {}, {class: 'sel'}%>
            </div>
            |
            <br>
            <div class="d-inline-block">
              <%= form.submit "◯", :class=>"view-btn"%>
            </div>  
          <% end %>
        </div>  
      </div>
      
      <div class="text-center mt-5 pt-3">
          <%= search_form_for @q, url: users_search_path do |f| %>
            <%= f.search_field :title_or_coment_cont, class: "s" %>
            <%= f.submit '検索', class: "searchsubmit" %>
          <% end %>
      </div>
      
      <h3 class="text-center folder-title">ALL</h3>
      
      <div class="">
        <% if current_user.all_records_view == 0 %>
          <%= render "users/normal_index" %>
        <% elsif current_user.all_records_view == 1 %>
          <%=render "records/all_info" %>
        <% elsif current_user.all_records_view == 2 %>
        <%= render "records/only_img" %>
        <% elsif current_user.all_records_view == 3 %>
          <%= render "records/link" %>
        <% elsif current_user.all_records_view == 4 %>
          <%= render "records/youtube" %>
        <% elsif current_user.all_records_view == 5 %>
          <%= render "records/twitter" %>
        <% elsif current_user.all_records_view == 6 %>
          <%= render "records/calendar" %>
        <% elsif current_user.all_records_view == 7 %>
          <%= render "records/graph" %>
        <% elsif current_user.all_records_view == 8 %>
          <%= render "records/coment" %>
        <% end %>
        
        <%= paginate @records %>
      </div>