<% if @folder.record_view == 0 %>
  <div class="co folreccard">
    <% @records.each do |record| %>
      <% if record.done == 1 %>
          <div class="r-letter ml-2 mr-2 mb-2 mt-2" style="width: 198px; height: 300px; ">
            <div class="mt-2">  
            <% if record.image? %>
              <%= link_to image_tag(record.image.url, class: "record-img"),folder_record_path(record.folder,record)  %>
            <% else %>
              <% if record.youtube? %>
                <%=  link_to folder_record_path(record.folder,record) do%>
                  <img src="https://i.ytimg.com/vi/<%= record.youtube.last(11) %>/hqdefault.jpg" class= "record-img">
                <% end %>  
              <% elsif record.twitter? %> 
                <%=  link_to image_tag("tweet.png", class: "record-img pt-5 pb-5"),folder_record_path(record.folder,record) %>  
              <% else %>
                <%=  link_to image_tag("no_image.png", class: "record-img"),folder_record_path(record.folder,record) %>
              <% end %>  
            <% end %>
            </div>
            <div class="text-center">
              <h5 class=""><%= record.title.truncate(16) %></h5>
            　<h6 style="margin-top: -20px;"><span class="badge rounded-pill bg-secondary text-white"><% if record.count? %><%= record.count %><% end %></span><% if record.hours? %><%= record.hours %>時間<% end %><% if record.minutes? %><%= record.minutes %>分<% end %> <% if record.money? %>¥<%= record.money %><% end %></h6>
            </div>
          </div> 
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @folder.record_view == 1 %>
  <%=render "records/all_info" %>
<% elsif @folder.record_view == 2 %>
  <%= render "records/only_img" %>
<% elsif @folder.record_view == 3 %>
  <%= render "records/link" %>
<% elsif @folder.record_view == 4 %>
  <%= render "records/youtube" %>
<% elsif @folder.record_view == 5 %>
  <%= render "records/twitter" %>
<% elsif @folder.record_view == 6 %>
  <div><%= render "records/calendar" %></div>
<% elsif @folder.record_view == 7 %>
  <%= render "records/c_graph" %>
<% elsif @folder.record_view == 8 %>
  <%= render "records/coment" %>
<% elsif @folder.record_view == 9 %>
  <%= render "records/map" %>
<% elsif @folder.record_view == 10 %>
  <%= render "records/p_graph" %>
<% end %>