<div class="record-form text-center">
<%= form_with(model: [@folder, @record], local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
  
    <div class="mb-3 mr-3 d-inline-block">
      <%= form.select :done, [['Want to', 0],['Done', 1]]%>
    </div> 
    
    <div class="d-inline-block">
      <%= form.label :image, class: "r-file" do %>
      <h6>画像を選択</h6>
      <%= form.file_field :image %>
    <% end %> 
    </div>
    
  </div>  

  <div class="field">
    <%= form.label :title, "タイトル", class: "r-letter" %>
    <%= form.text_field :title %>
  </div>
  
  <div class="mb-3">
    <%= form.label :comment, "コメント", class: "r-letter" %>
    <%= form.text_area :comment, class: "record-comment" %>
  </div>
  
  <div class="co">
  <div class="mb-3 mr-3">
    <h6 class="r-letter mr-1 ml-1">日時</h6><br>
    <%= form.datetime_field :start_time %>
    </div>

  <div class="field mr-3">
    <h6 class="r-letter mr-1 ml-1">カウント</h6><br>
    <%= form.number_field :count %> / <%= form.number_field :goal_count %>
  </div>
  
  <div class="field mr-3">
    <h6 class="r-letter mr-1 ml-1">時間</h6><br>
    <%= form.number_field :hours %> 時間 <%= form.number_field :minutes, max: "59" %> 分
  </div>
  
  <div class="field mr-3">
    <h6 class="r-letter mr-1 ml-1">金額</h6><br>
    ¥<%= form.number_field :money %>
  </div>
  </div>
  
  <div class="field">
    <%= form.label :address, "場所", class: "r-letter" %>
    <%= form.text_area :address %>
  </div>
  
  <div class="field">
    <%= form.label :link, "リンク", class: "r-letter"%>
    <%= form.text_area :link %>
  </div>
  
  <div class="field">
    <%= form.label :youtube, "Youtube", class: "r-letter" %>
    <%= form.text_area :youtube %>
  </div>
  
  <div class="field">
    <%= form.label :twitter, "Twitter", class: "r-letter" %>
    <%= form.text_area :twitter %>
  </div>
  
  <div class="field">
    <%= form.label :applemusic, "AppleMusic", class: "r-letter" %>
    <%= form.text_area :applemusic %>
  </div>
  
  <span class="r-letter">Tag</span>
  <div class="co">
    <div class="form-inline">
      <%= form.collection_check_boxes(:tag_ids, current_user.tags.all, :id, :name) do |tag| %>
       <div>
         <%= tag.label do %>
           <%= tag.check_box %>
           <%= tag.text %>
         <% end %>
       </div>
      <% end %>
    </div>
 </div>

  <div class="d-inline-block">
    <%= form.submit "記録する", :class=>"record-submit" %>
  </div>
<% end %>
</div>