
<div class= "back-btn">
  <%= link_to image_tag("back.png"),folder_records_path, class: "d-inline-block  mb-3 " %>
</div>

<div class="record-form text-center">
<%= form_with(model: [@folder, @record], local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
  
    <div class="mb-3 mr-3 d-inline-block">
      <%= form.select :done, [['Want to', 0],['Done', 1]]%>
    </div> 
    
    <div class="d-inline-block">
      <%= form.file_field :image %>
    </div>
    
  </div>  

  <div class="field">
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>
  
  <div class="mb-3">
    <%= form.label :coment, "コメント"%>
    <%= form.text_area :coment, class: "record-coment" %>
  </div>
  
  <div class="mb-3">
      <%= form.datetime_field :start_time %>
    </div>

  <div class="field">
    <h6>カウント</h6>
    <%= form.number_field :count %> / <%= form.number_field :goal_count %>
  </div>
  
  <div class="field">
    <%= form.number_field :hours %> 時間 <%= form.number_field :minutes, max: "59" %> 分
  </div>
  
  <div class="field">
    ¥<%= form.number_field :money %>
  </div>
  
  <div class="field">
    <%= form.label :address, "場所"%>
    <%= form.text_area :address %>
  </div>
  
  <div class="field">
    <%= form.label :link, "リンク"%>
    <%= form.text_area :link %>
  </div>
  
  <div class="field">
    <%= form.label :youtube, "Youtube"%>
    <%= form.text_area :youtube %>
  </div>
  
  <div class="field">
    <%= form.label :twitter, "Twitter"%>
    <%= form.text_area :twitter %>
  </div>
  
  <div class="check_box">
    <span>Tag</span>
    <div class="form-inline">
      <%= form.collection_check_boxes(:tag_ids, current_user.tags.all, :id, :name) do |tag| %>
       <div>
         <%= tag.label do %>
           <%= tag.check_box %>
           <%= tag.text %>
         <% end %>
       </div>
      <% end %>
    </div>
 </div>

  <div class="actions">
    <%= form.submit "完了"%>
  </div>
<% end %>
</div>
