    <% if @folder.record_view == 0 %>
      <div class="card-deck folreccard">
        <% @records.each do |record| %>
          <% if record.done == 0 %>
            <div class="card-deck">
              <div class="card text-dark bg-light mb-3 folder mr-4 ml-4 record-card">
                <% if record.image? %>
                  <%= link_to image_tag(record.image.url, class: "card-img-top record-img"),folder_record_path(record.folder,record)  %>
                <% else %>
                  <%=  link_to image_tag("no_image.png", class: "card-img-top record-img"),folder_record_path(record.folder,record) %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title text-center"><%= record.title.truncate(16) %></h5>
                  <h4><span class="badge rounded-pill bg-secondary text-white record-count"><%= record.count %></span></h4>
                  <div class="record-money">
                    <% if record.money? %>
                  　<h6 >¥<%= record.money %></h6>
                  　<% end %>
                　</div>
                　<h6 class="record-hour">
                    <% if record.hours? %><%= record.hours %>時間<% end %><% if record.minutes? %><%= record.minutes %>分<% end %>
                　</h6>
                　<% if record.link? %>
                　  <a href="<%= record.link %>" class="record-link"><img src="/assets/link.png"width="20"></a>
                　<% end %> 
                </div>
              </div> 
            </div>
          <% end %> 
        <% end %>
      </div> 
    <% end %>
    
    <% if @folder.record_view == 1 %>
      <%=render "records/coment_show_want_index" %>
    <% end %>
    <% if @folder.record_view == 2 %>
      <%=render "records/only_img_want_index" %>
    <% end %>
    <% if @folder.record_view == 3 %>
      <%= render "records/link_want_index" %>
    <% end %>
    <% if @folder.record_view == 4 %>
      <%= render "records/youtube_want_index" %>
    <% end %>
    <% if @folder.record_view == 5 %>
      <%= render "records/twitter_want_index" %>
    <% end %>
     
    