<p id="notice"><%= notice %></p>

<div class= "index-header">
  <div class="float-right select-div">
      <%= form_with(model: @folder,local: true) do |form| %>
        <div class="d-inline-block">
          <%= form.select :record_sort, [['時間新しい順', 0],['時間古い順', 1],['更新新しい順', 2],['更新古い順', 3]], {}, {class: 'sel'}%>
        </div>
        /
        <div class="d-inline-block">
          <%= form.select :done_view, [[' Done表示 ', 0],['Want to表示', 1]], {}, {class: 'sel'}%>
        </div> 
        /
        <div class="d-inline-block">
          <%= form.select :record_view, [['ノーマル', 0],['コメントを表示', 1],['画像のみ表示', 2],['リンクと画像表示', 3],['Youtube表示', 4],['Twitter表示', 5],['カレンダー表示', 6]], {}, {class: 'sel'}%>
        </div> 
        <div class="d-inline-block view-btn-div">
          <%= form.submit "◯", :class=>"view-btn"%>
        </div>  
      <% end %> 
    </div>
</div>



<h3 class="text-center folder-title"><%= @folder.title %></h3>
<h5><span class="badge rounded-pill bg-secondary text-white"><% unless @folder.count_sum == 0 %><%= @folder.count_sum %><% end %></span></h5>
<h5><% unless @folder.money_sum == 0 %>¥<%= @record_money_sum %><% end %></h5>
<div class="flex-row">
  <h5 class="d-inline-flex"><% unless @folder.hour_sum == 0 %><%= @record_hours_sum %>時間<% end %></h5>
  <h5 class="d-inline-flex"><% unless @folder.minute_sum == 0 %><%= @record_minutes_sum %>分<% end %></h5>
</div>
<div><%= link_to image_tag("plus.png"), new_folder_record_path, class: "fixed-btn"  %></div>
<div class="co">
<% @folder.tags.each do |tag| %>
    <div>
      <h6 class="badge badge-secondary mr-1"><%= tag.name %></h6>
    </div>
<% end %>
</div><br>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% if @folder.done_view == 0 %>
     <%= render "records/done_index" %>
    <% end %>
    
    <% if @folder.done_view == 1 %>
      <%= render "records/want_index" %>
    <% end %> 
    
  </tbody>
</table>

<a><%= link_to  image_tag("tag.png", class: "manage-tag-img"), tag2s_path, class: "manage-tag" %></a>
<a><%= link_to  image_tag("show-edit.png", class: "edit-btn-img"), edit_folder_path(@folder), class: "edit-btn" %></a>



