<p id="notice"><%= notice %></p>

<div class= "index-header">
  <div class="float-right">
      <%= form_with(model: @folder,local: true) do |form| %>
        <div class="d-inline-block">
          <%= form.select :done_view, [['Done', 0],['Want to', 1]], {}, {class: 'sel'}%>
        </div> 
        <div class="d-inline-block">
          <%= form.select :record_view, [['ノーマル', 0],['コメントを表示', 1],['画像のみ表示', 2],['リンクと画像表示', 3]], {}, {class: 'sel'}%>
        </div> 
        <div class="d-inline-block">
          <%= form.submit "◯", :class=>"view-btn"%>
        </div>  
      <% end %>
    </div>
</div>

<h3 class="text-center folder-title"><%= @folder.title %></h3>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class= "back-btn">
      <%= link_to image_tag("back.png"),folders_path, class: "d-inline-block  mb-3" %>
    </div>
    <% if @folder.done_view == 0 %>
     <%= render "records/done_index" %>
    <% end %>
    
    <% if @folder.done_view == 1 %>
      <%= render "records/want_index" %>
    <% end %> 
    
  </tbody>
</table>

<br>

<h5><span class="badge rounded-pill bg-secondary text-white"><%= @folder.count_sum %></span></h5>
<h5>¥<%= @record_money_sum %></h5>
<div class="flex-row">
  <h5 class="d-inline-flex"><%= @record_hours_sum %>時間</h5>
  <h5 class="d-inline-flex"><%= @record_minutes_sum %>分</h5>
</div>
<div><%= link_to image_tag("plus.png"), new_folder_record_path, class: "fixed-btn"  %></div>
<a><%= link_to 'タグを管理', tag2s_path, class: "btn btn-outline-dark new-tag"%></a>

