<p id="notice"><%= notice %></p>

<div class= "index-header">
  <div class="text-center select-div">
      <%= form_with(model: @folder,remote: true,class: 'form1') do |form| %>
        <div class="d-inline-block mr-1">
          <%= form.select :record_sort, [['Create Desc', 0],['Create Asc', 1],['Update Desc', 2],['Update Asc', 3]], {}, {class: 'sel r-btn select'}%>
        </div>
        <div class="d-inline-block mr-1">
          <%= form.select :done_view, [[' Done', 0],['Want to', 1]], {}, {class: 'sel r-btn select'}%>
        </div>
        <div class="d-inline-block mr-1">
          <%= form.select :record_view, [['Normal', 0],['All info', 1],['Coment', 8],['Image', 2],['Link', 3],['Youtube', 4],['Twitter', 5],['Calendar', 6],['C.Graph', 7],['P.Graph', 10],['Map', 9],['none', 11]], {}, {class: 'sel r-btn select'} %>
        </div>
      <% end %> 
    </div>
</div>

<div class="fol-show-card">
  
<a><%= link_to  "編集", edit_folder_path(@folder), class: "r-btn", style: "position: absolute; top: 4px; right: 10px;" %></a>

<div class="text-center">
  <h3 class="folder-title rec-fol mb-2"><%= @folder.title %></h3>
</div>
<div class="co">
<% if @folder.category_ids.empty? %>
  <h6 class="rec-cat"><%=link_to "Not Category",folders_path, class: "folder-to-category" %></h6>
<% end %>   
<% @folder.categories.each do |category| %>
    <div>
      <h6 class="rec-cat mr-1"><%=link_to category.name,category_path(category.id), class: "folder-to-category" %></h6>
    </div>
<% end %>
</div>
<div style="width: 80%; margin: auto;">
  <% unless @folder.count_sum == 0 %><h6 class="r-letter"><%= @folder.count_sum %></h6><% end %><br>
  <% unless @folder.money_sum == 0 %><h6 class="r-letter">¥<%= @record_money_sum %></h6><% end %><br>
  <% unless  @folder.hour_sum == 0||@folder.minute_sum == 0 %><h6 class="r-letter"><% unless @folder.hour_sum == 0 %><%= @record_hours_sum %>時間<% end %><% unless @folder.minute_sum == 0 %><%= @record_minutes_sum %>分<% end %></h6><% end %>
</div>
<div><%= link_to image_tag("plus.png"), new_folder_record_path, class: "fixed-btn"  %></div>


  <% if @folder.done_view == 0 %>
   <%= render "records/done_index" %>
  <% elsif @folder.done_view == 1 %>
    <%= render "records/want_index" %>
  <% end %>
  
  <% if @folder.record_view == 6 or @folder.record_view == 7 or @folder.record_view == 9 %>
  <% else %>
    <%= paginate @records %>
  <% end %>

</div>

<% unless @folder.record_view == 6 %>
<div class="text-center pb-5"><%= link_to "公開する", new_public_folder_path(folder_id: @folder.id),class: "r-btn"  %></div>
<% end %>
