<p id="notice"><%= notice %></p>

<div class= "index-header">
</div>  

<div class= "back-btn">
  <%= link_to image_tag("back.png"),folder_records_path, class: "d-inline-block  mb-3" %>
</div>

<div class="text-center rec-show-card">
  
  <a><%= link_to  "編集", edit_folder_record_path, class: "r-btn", style: "position: absolute; top: 4px; right: 10px;" %></a>
  
  <% if @record.title? %>
    <h3 class="folder-title r-letter mb-3">
      <%= @record.title %>
    </h3>
  <% end %>
  
  <div class="co">
    <% @record.tags.each do |tag| %>
        <div>
          <h6 class="rec-tag mr-1"><%= tag.name %></h6>
        </div>
    <% end %>
  </div><br>
  
   
  <p>
    <% if @record.image? %>
      <%= image_tag @record.image.url, class: "record-img-show" %>
    <% end %>  
  </p>
  
  <% if @record.coment? %>
  <div class="r-letter mb-3 pt-5 pb-5" style="width: 80%; margin: auto;">
    <h4 style="width: 80%; margin: auto;">
      <%= sanitize(@record.coment) %>
    </h4>
  </div>
  <% end %>

  <div class="text-center">
  <h5>
    <% if @record.start_time? %>
      <span class="r-letter mb-5"><%= @record.start_time.strftime('%Y年%m月%d日 %H時%M分%S秒') %></span>
    <% end %>  
  </h5> 
  </div> 
  
  <div class="text-center">
  <h5>
    <% if @record.count? %> 
      <span class="r-letter mb-5"><%= @record.count %><% end %><% if @record.goal_count? %> / <%= @record.goal_count %></span>
    <% end %> 
  </h5> 
  </div> 
   
  <div class="text-center"> 
  <h5>
    <% if @record.hours? %>
    <span class="r-letter mb-5"><%= @record.hours %>時間<% end %><% if @record.minutes? %><%= @record.minutes %>分<% end %></span>
  </h5> 
  </div> 
  
  <div class="text-center">
  <h5>
    <% if @record.money? %>
      <span class="r-letter mb-5">¥<%= @record.money %></span>
    <% end %>   
  </h5> 
  </div> 

  
  <% if @record.link? %>
    <div class="r-letter mt-2 mb-4" style="width: 90%; margin: auto;">
      <h6><a href="<%= @record.link %>"><%= @record.link %></a></h6>
    </div><br>
  <% end %>
  
  
  <% if @record.youtube? %>
    <div class="r-letter mr-1 ml-1 mb-4" style="width: 90%; margin: auto;">
      <iframe class="rec-youtube" src="https://www.youtube.com/embed/<%= @record.youtube.last(11) %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div><br>
  <% end %>  
    
  <% if @record.twitter? %> 
    <div class="r-letter mr-1 ml-1 mb-4" style="width: 90%; margin: auto;">
      <blockquote class="twitter-tweet tw-align-center">
      <a href="<%= @record.twitter %>"></a></blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>  
  <% end %>
  
  <% if @record.address? %>
  <div class="r-letter" style="width: 90%; margin: auto;">
  <h6>
      <h6><%= @record.address %></h6>
      <% if @record.latitude? %><h6><%= @record.latitude %>,<%= @record.longitude %></h6><% end %>
  </h6>
  <div class="rec-map mb-3">
    <% if @record.latitude? %>
    <div id='map'></div>
    <% end %>
  </div>
  </div>
  <% end %> 
  
  <div>
    <% if @record.done == 1 %>
    <% end %> 
  </div>
  
  <div class="mt-4"><%= link_to "メモを作成", new_folder_record_memo_path(@folder,@record), class: "r-btn" %></div>
  
  <div class="co mt-3">
    <% @memos.each do |memo| %>
      <%= link_to edit_folder_record_memo_path(@folder,@record,memo), class: "memo-card-edit" do%> 
        <div class="r-title mr-2 ml-2 mb-2">
          <p class="memo-card_title"><%= memo.title %></p>
          <p class="memo-card_subtitle"><%= memo.coment %></p>
          <p><%= memo.count %></p>
          <% if memo.image? %><%= image_tag memo.image.url, class: "memo-img" %><% end %>
          <p><%= memo.money %></p>
          <p><%= memo.hours %></p>
          <p><%= memo.minutes %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <p>
    <strong>作成時間</strong>
    <%= @record.created_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %>
    <strong>最終更新時間</strong>
    <%= @record.updated_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %>
  </p> 
  
  
  </div>  
  
  <div class="text-center pb-5"><%= link_to "公開する", new_public_record_path(folder_id: @folder.id,record_id: @record.id),class: "r-btn"  %></div>
  
<style>
#map {
  height: 250px;
  width: 100%;
}

@media screen and (min-width:480px) {
#map {
  height: 400px;
  width: 100%;
}}
</style>

<script>
  let map

    function initMap(){
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @record.latitude %>, lng: <%= @record.longitude %>},
          zoom: 12,
      });


      <% if @record.address? %>
          (function(){
          var contentString = "住所：<%= @record.address %>"; 

          var marker = new google.maps.Marker({
              position:{lat: <%= @record.latitude %>, lng: <%= @record.longitude %>},
              map: map,
              title: contentString
          });
          
          var infoWindow = new google.maps.InfoWindow({
		      content: `<%= @record.title %>`
      	  });
      	  
          google.maps.event.addListener(marker, 'click', function() { //マーカークリック時の動作
		      infoWindow.open(map, marker); //情報ウィンドウを開く
 	      });
          
          })();
      <% end %>
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API']%>&callback=initMap" async defer></script>




