<p id="notice"><%= notice %></p>

<div class= "back-btn">
  <%= link_to image_tag("back.png"),folder_records_path, class: "d-inline-block  mb-3" %>
</div>
<div class="text-center">
  <p>
    <strong>タイトル</strong>
    <%= @record.title %>
  </p>
  
  <p>
    <strong>カウント</strong>
    <p><%= @record.count %>
    <% if @record.goal_count? %>
     /<%= @record.goal_count %>
    <% end %> 
  </p>
  
  <p>
    <strong>時間</strong>
    <% if @record.hours? %>
     <%= @record.hours %>時間
    <% end %> 
    <% if @record.minutes? %>
     <%= @record.minutes %>分
    <% end %> 
  </p>
  
  <p>
    <strong>金額</strong>
    ¥<%= @record.money %>
  </p>
  
  <p>
    <strong>コメント</strong>
    <%= @record.coment %>
  </p>
  
  <p>
    <% if @record.image? %>
    <strong>画像</strong>
      <%= image_tag @record.image.url, class: "record-img" %>
    <% end %>  
  </p>
  
  <p>
    <% if @record.youtube? %>
      <strong>Youtube:</strong>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @record.youtube.last(11) %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>  
  </p>
  <p>
    <% if @record.twitter? %>
      <strong>Twitter:</strong> 
      <blockquote class="twitter-tweet tw-align-center">
      <a href="<%= @record.twitter %>"></a></blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <% end %>  
  </p>
  <p>
    <strong>リンク</strong>
    <a href="<%= @record.link %>"><%= @record.link %></a>
  </p>
  
  <p>
    <strong>Done?</strong>
    <% if @record.done == 1 %>
     <p>Yes</p>
    <% end %> 
  </p>
  
   <%= form_with(model: [@folder, @record],local: true,id:"form1") do |form| %>
       <div class="">
        <%= form.label :done, "Done or Want to?" %>
        <%= form.select :done, [['Want_to', 0],['Done', 1]],id:"select"%>
      </div> 
      <div class="actions">
       <%= form.submit "完了"%>
      </div>  
    <% end %>  
  
  <p>タグ</p>
  <% @record.tag2s.each do |tag2| %>
    <span><%= tag2.name %></span>
  <% end %>
  <br>
   
  <p>
    <strong>最終更新時間</strong>
    <%= @record.updated_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %>
  </p> 
  
  
  <%= link_to '編集', edit_folder_record_path %>
</div>


