<p id="notice"><%= notice %></p>

<div class= "index-header">
</div>  

<div class= "back-btn">
  <%= link_to image_tag("back.png"),folder_records_path, class: "d-inline-block  mb-3" %>
</div>

<div class= "fixed-btn">
  <%= link_to image_tag("show-edit.png"),edit_folder_record_path, class: "d-inline-block" %>
</div>

<div class="text-center folreccard">
  <h3 class="folder-title">
    <%= @record.title %>
  </h3>
  
  <div class="co">
    <% @record.tags.each do |tag| %>
        <div>
          <h6 class="badge badge-secondary mr-1"><%= tag.name %></h6>
        </div>
    <% end %>
  </div><br>
  
   
  <p>
    <% if @record.image? %>
      <%= image_tag @record.image.url, class: "record-img-show" %>
    <% end %>  
  </p>
  
  <h6>
    <%= @record.coment %>
  </h6>
  
  <div>
    <% if @record.count? %> 
      <h3 class=""><%= @record.count %><% end %><% if @record.goal_count? %> / <%= @record.goal_count %></h3>
    <% end %> 
  </div>  
    
  <h3>
    <% if @record.hours? %>
     <%= @record.hours %>時間
    <% end %> 
    <% if @record.minutes? %>
     <%= @record.minutes %>分
    <% end %> 
  </h3>
  
  <h3>
    <% if @record.money? %>
      ¥<%= @record.money %>
    <% end %>   
  </h3>
  
  <h6>
    <% if @record.link? %>
      <%= @elements.inner_text %>:<br>
      <a href="<%= @record.link %>"><%= @record.link %></a>
    <% end %> 
  </h6>
  
  <p>
    <% if @record.youtube? %>
      <iframe width="400" height="250" src="https://www.youtube.com/embed/<%= @record.youtube.last(11) %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>  
  </p>
  <p>
    <% if @record.twitter? %> 
      <blockquote class="twitter-tweet tw-align-center">
      <a href="<%= @record.twitter %>"></a></blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <% end %>  
  </p>
  
  <h6>
    <% if @record.address? %>
      <strong>場所</strong>
      <h6><%= @record.address %></h6>
      <h6><%= @record.latitude %>,<%= @record.longitude %></h6>
    <% end %> 
  </h6>
 
  
  <h6>
    <% if @record.start_time? %>
      <strong>カレンダー</strong>
      <%= @record.start_time.strftime('%Y年%m月%d日 %H時%M分%S秒') %>
    <% end %>  
  </h6> 
  
  <div>
    <% if @record.done == 1 %>
     <%= image_tag "done.png", class: "mb-2" %>
    <% end %> 
  </div>
  

  <p>
    <strong>作成時間</strong>
    <%= @record.created_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %>
    <strong>最終更新時間</strong>
    <%= @record.updated_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %>
  </p> 
  
</div>


