    <div class= "index-header">
        <div class= "back-btn">
            <%= link_to image_tag("back.png"),tag_path(@tag), class: "d-inline-block  mb-3" %>
        </div>
        <div class="text-center select-div">  
          <%= form_with(model: @tag,local: true) do |form| %>
            |
            <div class="d-inline-block">
              <%= form.select :all_records_sort, [['Create Desc', 0],['Create Asc', 1],['Update Desc', 2],['Update Asc', 3]], {}, {class: 'sel'}%>
            </div>
            |
            <div class="d-inline-block">
            <%= form.select :all_records_view, [['Normal', 0],['All info', 1],['Image', 2],['Link', 3],['Youtube', 4],['Twitter', 5],['Calendar', 6],['Graph', 7],['Coment', 8]], {}, {class: 'sel'}%>
            </div>
            |
            <br>
            <div class="d-inline-block">
              <%= form.submit "◯", :class=>"view-btn"%>
            </div>  
          <% end %>
        </div>  
    </div>
      
    <div class="">
          <% if @tag.all_records_view == 0 %>
            <%= render "tags/normal_index" %>
          <% end %>
          <% if @tag.all_records_view == 1 %>
            <%=render "tags/all_info" %>
          <% end %>
          <% if @tag.all_records_view == 2 %>
          <%= render "tags/only_img" %>
          <% end %>
          <% if @tag.all_records_view == 3 %>
            <%= render "tags/link" %>
          <% end %>
          <% if @tag.all_records_view == 4 %>
            <%= render "tags/youtube" %>
          <% end %>
          <% if @tag.all_records_view == 5 %>
            <%= render "tags/twitter" %>
          <% end %>
          <% if @tag.all_records_view == 6 %>
            <%= render "tags/calendar" %>
          <% end %>
          <% if @tag.all_records_view == 7 %>
            <%= render "tags/graph" %>
          <% end %>
          <% if @tag.all_records_view == 8 %>
            <%= render "tags/coment" %>
          <% end %>
    </div>