<p id="notice"><%= notice %></p>

<h3 class="card-title text-center">カテゴリー</h3>

<table>

  <tbody>
    
    <div class="co folreccard">
          <div class ="tag-card mr-4 ml-4"> <%=link_to folders_path do %><img class="tag-img" src="assets/folder.png"><% end %>
        　  <h5 class=" text-center">ALL</h5>
        　</div>  
      <% @tags.each do |tag| %>
          <div class ="tag-card mr-4 ml-4">
           <% if tag.image? %><%=link_to image_tag(tag.image.url, class: "tag-img"),tag %><% else %> <%=link_to tag do %><img class="tag-img" src="assets/folder.png"><% end %><% end %>   
        　  <h5 class=" text-center mt-3"><%= tag.name %></h5>
        　</div>  
         <% end %>  
    </div>
    
  </tbody>
</table>

<br>

<div><%= link_to image_tag("plus.png"), new_tag_path, class: "fixed-btn"  %></div>
