<p id="notice"><%= notice %></p>

<h3 class="card-title text-center">カテゴリー</h3>

<table>

  <tbody>
    
    <div class="card-deck folreccard">
      
      <div class="card-deck text-center record-index">
        <div class="card text-dark bg-light mb-3 folder mr-4 ml-4">
          <div class="card-body">
              <h5 class="card-title d-flex align-items-center justify-content-center" style ="">ALL</h5>
              <a><%= link_to '表示',folders_path, class: "btn btn-outline-dark btn-sm" %></a>
          </div>
        </div>
      </div>
      
    <% @tags.each do |tag| %>
      <div class="card-deck text-center record-index">
        <div class="card text-dark bg-light mb-3 folder mr-4 ml-4">
          <div class="card-body">
            <h5 class="card-title"><%= tag.name %></h5>
            <a><%= link_to '表示', tag %></a>
            <a><%= link_to '編集', edit_tag_path(tag) %></a>
            
          </div>
        </div>
      </div>     
    <% end %>
  </tbody>
</table>

<br>

<div><%= link_to image_tag("plus.png"), new_tag_path, class: "fixed-btn"  %></div>
