<p id="notice"><%= notice %></p>

<h3 class=" text-center">Category</h3>

<table>

  <tbody>
    
    <div class="co folreccard">
          <div class ="tag-card mr-4 ml-4 mb-2"> <%=link_to folders_path do %><img class="tag-img" src="assets/folder.png"><% end %>
        　  <h6 class=" text-center mt-2">ALL</h6>
        　</div>  
      <% @tags.each do |tag| %>
          <div class ="tag-card mr-4 ml-4 mb-2"> 
            <% if tag.image? %><%=link_to image_tag(tag.image.url, class: "tag-img"),tag %><% else %> <%=link_to tag do %><img class="tag-img" src="assets/folder.png"><% end %><% end %>   
        　  <h6 class=" text-center mt-2"><%= tag.name.truncate(14) %></h6>    
        　</div>  
         <% end %>  
    </div>
    
  </tbody>
</table>

<br>

<div><%= link_to image_tag("plus.png"), new_tag_path, class: "fixed-btn"  %></div>
