<p id="notice"><%= notice %></p>

<div class= "index-header">
        <div class= "back-btn">
            <%= link_to image_tag("back.png"),tags_path, class: "d-inline-block  mb-3" %>
        </div>
        <div class="text-center select-div">  
          <%= form_with(model: @tag,local: true) do |form| %>
            |
            <div class="d-inline-block">
              <%= form.select :all_records_sort, [['Create Desc', 0],['Create Asc', 1],['Update Desc', 2],['Update Asc', 3]], {}, {class: 'sel'}%>
            </div>
            |
            <div class="d-inline-block">
            <%= form.select :all_records_view, [['Normal', 0],['All info', 1],['Coment', 8],['Image', 2],['Link', 3],['Youtube', 4],['Twitter', 5],['Calendar', 6],['Graph', 7]], {}, {class: 'sel'}%>
            </div>
            |
            <br>
            <div class="d-inline-block">
              <%= form.submit "◯", :class=>"view-btn"%>
            </div>  
          <% end %>
        </div>  
    </div>

<h3 class="text-center folder-title"><%= @tag.name %></h3>

<%= @tag.records.all.where(done: 1).sum(:count) %>  

      <div class="">
        <% if @tag.all_records_view == 0 %>
          <%= render "tags/normal_index" %>
        <% elsif @tag.all_records_view == 1 %>
          <%=render "records/all_info" %>
        <% elsif @tag.all_records_view == 2 %>
          <%= render "records/only_img" %>
        <% elsif @tag.all_records_view == 3 %>
          <%= render "records/link" %>
        <% elsif @tag.all_records_view == 4 %>
          <%= render "records/youtube" %>
        <% elsif @tag.all_records_view == 5 %>
          <%= render "records/twitter" %>
        <% elsif @tag.all_records_view == 6 %>
          <%= render "records/calendar" %>
        <% elsif @tag.all_records_view == 7 %>
          <%= render "records/graph" %>
        <% elsif @tag.all_records_view == 8 %>
          <%= render "records/coment" %>
        <% end %>
      </div>

<a><%= link_to  image_tag("show-edit.png", class: "edit-btn-img"), edit_tag_path(@tag), class: "edit-btn" %></a>

