<p id="notice"><%= notice %></p>

<div class= "index-header">
  <div class= "back-btn">
      <%= link_to image_tag("back.png"),tags_path, class: "d-inline-block  mb-3" %>
  </div>
</div> 

<h3 class="text-center folder-title"><%= @tag.name %></h3>

  <div class="co folreccard">
    
        <div class="card text-center bg-light mb-3 folder folder-height mr-4 ml-4 ">
          <div class="card-body">
              <%= link_to  tag_all_records_path(@tag), {class: "card-title d-flex align-items-center justify-content-center"} do %><h3 class="" style ="">ALL</h3><% end %>
          </div>
        </div>
    
    <% @tag.folders.each do |folder| %>
        <div class="card text-center bg-light mb-3 folder folder-height mr-4 ml-4 ">
          <div class="card-body">
              <%= link_to  folder_records_path(folder.id), {class: "card-title"} do %><h5 class=""><%= folder.title %>(<%= folder.record_sum %>)</h5><% end %>
              <h5><span class="badge rounded-pill bg-secondary text-white folder-count"><%= folder.count_sum %></span></h5>
              <h6 class="folder-sum"><%= folder.hour_sum %>時間<%= folder.minute_sum %>分　¥<%= folder.money_sum %></h6>
              <a><%= link_to  image_tag("edit.png", class: ""), edit_folder_path(folder.id), class: "folder-edit" %></a>
          </div>
        </div>
    <% end %>
  </div>


<%= link_to '編集', edit_tag_path(@tag) %> 
<div><%= link_to image_tag("plus.png"), new_folder_path, class: "fixed-btn"  %></div>
