<h3 class="text-center folder-title"><span class="rec-fol mr-2"><%= @public_folder.title %></span>を編集</h3>

<%= form_with(model: @public_folder, local: true) do |form| %>
  
<div class="record-form text-center">

  <div class="field">
    <%= form.text_field :title %>
  </div>
  
  <div class="">
    <%= form.label :comment, "コメント", class: "r-letter" %>
    <%= form.text_area :comment, class: "record-comment" %>
  </div>
  
  <div class="field">
    <%= form.label :image, class: "r-file" do %>
      <h6>画像を選択</h6>
      <%= form.file_field :image %>
    <% end %>  
  </div>
  
  <div class="d-inline-block">
    <%= form.submit "完了", :class=>"record-submit" %>
  </div>
<% end %>

</div>


  


<div class="text-center d-inline-box pb-3">
<%= link_to '削除', public_folder_path, method: :delete, data: { confirm: '削除しますか?' }, class: "d-btn" %>
</div>

