<div class="cat-show-card">
<div class="d-inline-box text-center folder-title"><h3 class="r-letter">みんなのフォルダ</h3></div>
  <a><%= link_to  "みんなの記録", public_records_path, class: "r-btn", style: "position: absolute; top: 4px; right: 10px;" %></a>
      <div class="co folreccard">
      <% @public_folders.each do |folder| %>
        <div class ="folder-card mr-1 ml-1 text-center">
          <% if folder.image? %><%=link_to image_tag(folder.image, class: "folder-img"),public_folder_path(folder.id) %><% else %><%= link_to image_tag("folder.png", class:"folder-img"), public_folder_path(folder.id) %><% end %>   
        　<div><h5 class="rec-fol mt-2"><%= folder.title.truncate(15)%>(<%= folder.record_sum %>)</h5></div>
        　</div>  
      <% end %>  
      </div>
  </div>
</div>

