<div class="cat-show-card">
  <div class="d-inline-box text-center folder-title"><h3 class="r-letter">みんなのフォルダ</h3></div>
  <a><%= link_to  "みんなの記録", public_records_path, class: "r-btn", style: "position: absolute; top: 4px; right: 10px;" %></a>
  <div class="co folreccard">
    <% @public_folders.each do |folder| %>
      <div class ="folder-card mr-2 ml-2 text-center" style="position: relative;">
        <% if folder.user.id == current_user.id %><p class="r-letter text-center" style="position: absolute; top: -35px; left: -35px; width: 220px; background-color: #989898;">あなたの記録</p>
        <% else %><p class="r-letter text-center" style="position: absolute; top: -35px; left: -35px; width: 220px; "><%= folder.user.email.truncate(16) %>の記録</p><% end %>
        <div>
          <% if folder.image? %>
            <%=link_to image_tag(folder.image.url, class: "folder-img"),public_folder_path(folder.id) %>
          <% else %>
            <%= link_to image_tag("folder.png", class:"folder-img"), public_folder_path(folder.id) %>
          <% end %>
        </div>
        <div class="mt-3">
          <h5 class="rec-fol"><%= folder.title.truncate(15)%>(<%= folder.record_sum %>)</h5>
        </div>
      </div>
    <% end %>  
  </div>
</div>

