<div class= "index-header">
  <div class= "back-btn">
    <%= link_to image_tag("back.png"),public_folders_path, class: "d-inline-block  mb-3" %>
  </div>
  
  <% unless current_user == nil %>
    <div class="text-center select-div">  
      <%= form_with(model: @public_folder,remote: true,class: 'form1') do |form| %>
        <div class="d-inline-block mr-1">
          <%= form.select :records_sort, [['Create Desc', 0],['Create Asc', 1],['Update Desc', 2],['Update Asc', 3]], {}, {class: 'sel select r-btn'}%>
        </div>
        <div class="d-inline-block">
          <%= form.select :record_view, options_for_select([['Normal', 0],['All info', 1],['Coment', 8],['Image', 2],['Link', 3],['Youtube', 4],['Twitter', 5],['Calendar', 6],['C.Graph', 7],['P.Graph', 10],['Map', 9]], selected: @public_folder.record_view), {}, {class: 'sel select r-btn'}%>
        </div>  
      <% end %>
    </div>  
  <% end %>
</div>

<div class="fol-show-card">
<% unless current_user == nil %>
  <% if @public_folder.user.id == current_user.id %>
    <a><%= link_to  "編集", edit_public_folder_path(@public_folder), class: "r-btn", style: "position: absolute; top: 4px; right: 10px;" %></a>
  <% end %>
<% end %>  

<div class="text-center mb-3">
  <h3 class="folder-title rec-fol"><%= @public_folder.title %></h3>
</div>

<% if @public_folder.comment? %>
<div class="text-center">
  <div class="text-center r-letter mb-3 pt-5 pb-5" style="width: 80%; margin: auto;">
    <h6 style="width: 80%; margin: auto; font-weight: bold;">
      <%= sanitize(@public_folder.comment) %>
    </h6>
  </div>
</div>
<% end %>

<% if @public_folder.record_view == 0 %>
  <div class="co folreccard">
    <% @records.each do |record| %>
      <% if record.done == 1 %>
          <div class="r-letter ml-2 mr-2 mb-2 mt-5 rec-size">
            <div class="mt-2">  
            <% if record.image? %>
              <%= link_to image_tag(record.image.url, class: "record-img"), public_record_path(record.id)  %>
            <% else %>
              <% if record.youtube? %>
                <%=  link_to public_record_path(record.id) do%>
                  <img src="https://i.ytimg.com/vi/<%= record.youtube.last(11) %>/hqdefault.jpg" class= "record-img">
                <% end %>  
              <% else %>  
                <%=  link_to image_tag("no_image.png", class: "record-img"),public_record_path(record.id) %>
              <% end %>  
            <% end %>
            </div>
            <div class="text-center">
              <h5 class=""><%= record.title.truncate(16) %></h5>
              <h6><span class="badge rounded-pill bg-secondary text-white"><% if record.count? %><%= record.count %><% end %></span><% if record.hours? %><%= record.hours %>時間<% end %><% if record.minutes? %><%= record.minutes %>分<% end %> <% if record.money? %>¥<%= record.money %><% end %></h6>
            </div>
          </div> 
      <% end %>
    <% end %>
  </div>
  
<% elsif @public_folder.record_view == 1 %>
  <%=render "public_folders/all_info" %>
<% elsif @public_folder.record_view == 2 %>
<%= render "public_folders/only_img" %>
<% elsif @public_folder.record_view == 3 %>
  <%= render "public_folders/link" %>
<% elsif @public_folder.record_view == 4 %>
  <%= render "records/youtube" %>
<% elsif @public_folder.record_view == 5 %>
  <%= render "records/twitter" %>
<% elsif @public_folder.record_view == 6 %>
  <%= render "public_folders/calendar" %>
<% elsif @public_folder.record_view == 7 %>
  <%= render "public_folders/c_graph" %>
<% elsif @public_folder.record_view == 8 %>
  <%= render "public_folders/coment" %>
<% elsif @public_folder.record_view == 9 %>
  <%= render "public_folders/map" %>
<% elsif @public_folder.record_view == 10 %>
  <%= render "public_folders/p_graph" %>
<% end %>

  
</div>  
