<p id="notice"><%= notice %></p>

<h3 class=" text-center">Tag</h3>

<table>

  <tbody>
    
    <div class="co folreccard">  
      <% @tag2s.each do |tag2| %>
          <div class ="tag-card mr-4 ml-4 mb-4"> 
            <% if tag2.image? %><%=link_to image_tag(tag2.image.url, class: "tag-img"),tag2 %><% else %> <%=link_to tag2 do %><img class="tag-img" src="assets/folder.png"><% end %><% end %>   
        　   <h6 class=" text-center mt-2"><%= tag2.name.truncate(14) %></h6>    
        　</div>  
         <% end %>  
    </div>
    
  </tbody>
</table>

<br>

<div><%= link_to image_tag("plus.png"), new_tag2_path, class: "fixed-btn"  %></div>
