<p id="notice"><%= notice %></p>

<h4>
  <%= @tag2.name %>
</h4>
  
<%= @tag2.records.all.where(done: 1).sum(:count) %>  

<div class="card-deck">
      <% @tag2.records.each do |record| %>
      <% if record.done == 1 %>
        <div class="card-deck">
          <div class="card text-dark bg-light mb-3 folder mr-4 ml-4 record-card">
            <% if record.image? %>
              <%= link_to image_tag(record.image.url, class: "card-img-top record-img"),folder_record_path(record.folder,record)  %>
            <% else %>
              <%=  link_to image_tag("no_image.png", class: "card-img-top record-img"),folder_record_path(record.folder,record) %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= record.title.truncate(16) %></h5>
              <h4><span class="badge rounded-pill bg-secondary text-white record-count"><%= record.count %></span></h4>
              <div class="record-money">
                <% if record.money? %>
              　<h6 >¥<%= record.money %></h6>
              　<% end %>
            　</div>
            　<h6 class="record-hour">
                <% if record.hours? %><%= record.hours %>時間<% end %><% if record.minutes? %><%= record.minutes %>分<% end %>
            　</h6>
            </div>
          </div> 
        </div>
      <% end %> 
      <% end %>
    </div> 

<%= link_to '編集', edit_tag2_path(@tag2) %> 
<a href="javascript:history.back()" style="color:black">戻る</a>

