<div class= "index-header">
</div>

<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="record-form text-center">
  <div class="field">
    <%= form.text_field :name %>
  </div>
  
  <div class="field mt-4">
    <%= form.label :image, class: "r-file" do %>
      <h6>画像を選択</h6>
      <%= form.file_field :image %>
    <% end %> 
  </div>

  <div class="d-inline-block">
    <%= form.submit "完了", :class=>"record-submit" %>
  </div>
</div>  
<% end %>
