    <div class= "index-header">
        <div class= "back-btn">
            <%= link_to image_tag("back.png"),category_path(@category), class: "d-inline-block  mb-3" %>
        </div>
        <div class="text-center select-div">  
          <%= form_with(model: @category,local: true) do |form| %>
            |
            <div class="d-inline-block">
              <%= form.select :all_records_sort, [['Create Desc', 0],['Create Asc', 1],['Update Desc', 2],['Update Asc', 3]], {}, {class: 'sel'}%>
            </div>
            |
            <div class="d-inline-block">
            <%= form.select :all_records_view, [['Normal', 0],['All info', 1],['Coment', 8],['Image', 2],['Link', 3],['Youtube', 4],['Twitter', 5],['Calendar', 6],['Graph', 7]], {}, {class: 'sel'}%>
            </div>
            |
            <br>
            <div class="d-inline-block">
              <%= form.submit "◯", :class=>"view-btn"%>
            </div>  
          <% end %>
        </div>  
    </div>
    
    <div class="text-center">
      <h3 class="rec-cat folder-title"><%= @category.name %></h3>
    </div>
    
    <div class="">
          <% if @category.all_records_view == 0 %>
            <%= render "categories/normal_index" %>
          <% elsif @category.all_records_view == 1 %>
            <%=render "categories/all_info" %>
          <% elsif @category.all_records_view == 2 %>
          <%= render "categories/only_img" %>
          <% elsif @category.all_records_view == 3 %>
            <%= render "categories/link" %>
          <% elsif @category.all_records_view == 4 %>
            <%= render "categories/youtube" %>
          <% elsif @category.all_records_view == 5 %>
            <%= render "categories/twitter" %>
          <% elsif @category.all_records_view == 6 %>
            <%= render "categories/calendar" %>
          <% elsif @category.all_records_view == 7 %>
            <%= render "categories/graph" %>
          <% elsif @category.all_records_view == 8 %>
            <%= render "categories/coment" %>
          <% end %>
    </div>