<p id="notice"><%= notice %></p>




<table>

  <tbody>
    
    <a><%= link_to  "タグを管理", tags_path, class: "manage-tag r-btn" %></a>
    
    <div class="co folreccard">
          <div class ="tag-card text-center mr-4 ml-4 mb-4"> <%=link_to folders_path do %><img class="tag-img" src="assets/category.png"><% end %>
        　 <div><h6 class= "mt-2 rec-cat">ALL</h6></div>
        　</div>  
      <% @categories.each do |category| %>
          <div class ="tag-card mr-4 ml-4 mb-4"> 
            <% if category.image? %><%=link_to image_tag(category.image.url, class: "tag-img"),category %><% else %> <%=link_to category do %><img class="tag-img" src="assets/category.png"><% end %><% end %>   
        　   <div class="text-center"><h6 class="rec-cat mt-2"><%=category.name.truncate(14) %></h6></div>
        　</div>  
      <% end %> 
    </div>
    
  </tbody>
</table>



<br>

<div><%= link_to image_tag("plus.png"), new_category_path, class: "fixed-btn"  %></div>

<div class="text-center pb-3"><%= link_to "Public", public_records_path, class: "r-btn" %></div>

