<p id="notice"><%= notice %></p>

<div class= "index-header">
  <div class= "back-btn">
      <%= link_to image_tag("back.png"),categories_path, class: "d-inline-block  mb-3" %>
  </div>
</div> 

<div class="cat-show-card">

<div class="text-center">
  <h3 class="folder-title rec-cat"><%= @category.name %></h3>
</div>

  <div class="co folreccard">
    <div class ="folder-card text-center mr-1 ml-1"><%= link_to image_tag("folder.png", class:"folder-img"), category_all_records_path(@category) %>
      <div><h5 class="r-title mt-2">ALL</h5></div>
    </div>  
    
    <% @category.folders.each do |folder| %>
      <div class ="text-center folder-card mr-1 ml-1">
        <% if folder.image? %><%=link_to image_tag(folder.image.url, class: "folder-img"),folder_records_path(folder.id) %><% else %><%= link_to image_tag("folder.png", class:"folder-img"), folder_records_path(folder.id) %><% end %>   
      　<div><h5 class="r-title mt-2"><%= folder.title.truncate(15)%>(<%= folder.record_sum %>)</h5></div>
      　<div class="fol-info"><p><span class="badge rounded-pill bg-secondary text-white"><% unless folder.count_sum == 0 %><%= folder.count_sum %><% end %></span> <% unless folder.hour_sum == 0 %><%= folder.hour_sum %>時間<% end %><% unless folder.minute_sum == 0 %><%= folder.minute_sum %>分<% end %>　<% unless folder.money_sum == 0 %>¥<%= folder.money_sum %><% end %></p></div>
      </div>  
    <% end %> 
  </div>  
  
  </div>

<a><%= link_to  image_tag("show-edit.png", class: "edit-btn-img"), edit_category_path(@category), class: "edit-btn" %></a>
<div><%= link_to image_tag("plus.png"), new_folder_path(category_id: @category.id), class: "fixed-btn"  %></div>
