<p id="notice"><%= notice %></p>

<h1>Memos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Coment</th>
      <th>Count</th>
      <th>Image</th>
      <th>Money</th>
      <th>Hours</th>
      <th>Minutes</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memos.each do |memo| %>
      <tr>
        <td><%= memo.title %></td>
        <td><%= memo.coment %></td>
        <td><%= memo.count %></td>
        <td><%= memo.image %></td>
        <td><%= memo.money %></td>
        <td><%= memo.hours %></td>
        <td><%= memo.minutes %></td>
        <td><%= memo.user %></td>
        <td><%= link_to 'Show', memo %></td>
        <td><%= link_to 'Edit', edit_memo_path(memo) %></td>
        <td><%= link_to 'Destroy', memo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Memo', new_memo_path %>
