<p id="notice"><%= notice %></p>
<%= @memo.id %>
<p>
  <strong>Title:</strong>
  <%= @memo.title %>
</p>

<p>
  <strong>Coment:</strong>
  <%= @memo.coment %>
</p>

<p>
  <strong>Count:</strong>
  <%= @memo.count %>
</p>

<p>
  <strong>Image:</strong>
  <%= @memo.image %>
</p>

<p>
  <strong>Money:</strong>
  <%= @memo.money %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @memo.hours %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @memo.minutes %>
</p>

<p>
  <strong>User:</strong>
  <%= @memo.user %>
</p>

